*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;    
}

:root{
 --colorRojoToc:rgb(247, 51, 63);
 --colorFondo: rgb(245, 245, 245);
 --colorAzulToc:rgb(49, 71, 94);
 --colorContacto:rgb(18, 18, 18);
}
/*iconos*/
.icon-home:before {
    content: "\e900";
}
.icon-asesoramiento:before {
    content: "\e976";
}
.icon-martillo:before {
    content: "\e996";
}
.icon-correo:before {
    content: "\e945";
}
.icon-facebook:before {
    content: "\ea90";
}
.icon-instagram:before {
    content: "\ea92";
}
.icon-whatsapp:before {
    content: "\ea93";
}
.icon-circle-dch:before {
    content: "\ea42";
}
.icon-circle-izq:before {
    content: "\ea44";
}

a{
    text-decoration: none;
    color: var(--colorFondo);
}

/*estilo de la Caratula*/

#fondoToc{
    background-image: url("../img/2326_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;    
}
.gridIndexContenedor{
    display: grid;
    grid-template-rows: 400px 200px 300px ;
    grid-template-columns: 1fr;
}
.logoContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    
}

.btnContenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonBienvenido{
    padding: 10px;
    border: 0px;
    border-radius: 20px;
    font-size: 30px;
    background-color: var(--colorRojoToc);
}

.redesContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.logosRedes{    
    height: 50px;
    margin: 20px;
}

.texto1{
    color: white;
    font-size: 20px;
}


/*Fin estilo de la Caratula*/

/*estilo seccion Nosotros*/
/*header*/
/*.gridContenedorNosotros{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
}*/
.contenedorImagen, .trabajosContent, .seccionesInfo, .presupuestoContent, .referenciasContent{
    grid-column: 1/4;
}
.gridUsuarioContacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-column: 1/4;
    
}
.usuarioContent {
    grid-column:1/2 ;
    margin-bottom: 80px;
}
.inputUsuarioContent{
    grid-column: 2/4;
    margin-bottom: 80px;
}
#fondoNosotros{
    background-color: var(--colorFondo);
}
/*.navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--colorContacto);
    align-items: center;
}
.logoToc{
    margin: 5px;
}
nav ul {
    display: flex;
    flex-direction: row;    
}

nav ul li {    
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--colorRojoToc);
    transition: 1s;
}
*/

.imagenToc{
    width: 100%;
}
/*Informacion*/
.seccionesInfo{
    padding: 20px;
}
.textoIntro{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(145, 145, 145);
    padding: 40px;
    font-size: 30px;
}
.infoContent{
    display: flex;
    justify-content: space-evenly;
    
    margin: 10px;
}
.infoContent div h3{
    margin-bottom: 10px;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 60px;
}
.info h3{
    margin-top: 40px;
}
.info p{
    text-align: center;
    color: rgb(145, 145, 145);
}
.icon-home, .icon-asesoramiento, .icon-martillo{
    font-size: 80px;
    color: rgb(145, 145, 145);
}
.icon-home:hover{
    color: var(--colorRojoToc);
    transition: 1s;
}
.icon-asesoramiento:hover{
    color: var(--colorRojoToc);
    transition: 1s;
}
.icon-martillo:hover{
    color: var(--colorRojoToc);
    transition: 1s;
}


/*Trabajos*/



/*
.trabajosContent{
    background-color:#3c3c3c;
    padding: 10px;    
}
.icon-circle-dch, .icon-circle-izq{
   font-size: 50px;
   color: var(--colorFondo);
}
.trabajos{
    
    display: flex;
    flex-direction: column;
}
.boxImg1, .boxImg2, .boxImg3{
    display: flex;
    justify-content: center;
}
.imgTrabajos:hover{
    
    transform: scale(1.1);
    transition: 1s ease-in-out;
   
}
.imgTrabajos{
    margin: 5px;
}
.textoTrabajos{
    font-size: 40px;
    color: white;
}
*/
/*Presupuesto*/
.presupuestoContent{
    padding: 5% ;
    display: flex;
    justify-content: space-around;
}
#textoPresup{
    font-size: 40px;
    
}
#textoPresup2{
    font-size: 25px;

}

.btnProyecto{
    width: 400px;
    height: 80px;
    border: 0px;
    border-radius: 40px;
    font-size: 30px;
    background-color: var(--colorRojoToc);
}

/*Referencias*/
.referenciasContent{
    padding: 5% 15%;
    background-color: var(--colorAzulToc);
    display: flex;
    justify-content: space-between;
    justify-content: center;    
}
.referencias{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.referencias img{
    margin: 0 10px;
}
.textoRef{
    font-size: 30px;
    color: white;
}
/*Usuario*/
.usuarioContent{
    padding: 5% 15%;
    display: flex;
    justify-content: space-between;   
}
.inputUsuarioContent{
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.inputUsuario{
    margin: 7px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    padding: 10px;   
}
.textUsuarioA{
   width: 70%;
   font-size: 30px;
   margin-bottom: 2%;
   
}
.textUsuarioB{
    width: 70%;
    font-size: 20px;
}
.btnIngresar{
    color: var(--colorRojoToc);
}

/*Contactos*/
.contactoContenedor{
    padding: 3%;
    margin-bottom: 20px;
    background-color: #3c3c3c;
    color: white;
    display: flex;
    justify-content: space-around;
}
.tituloContacto{
    margin-bottom: 3%;
}
.textoContacto{
    font-size: 15px;
}
.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/*footer*/
.footerContent{
    display: flex;
    justify-content: space-around;
    background-color: var(--colorContacto);
    padding: 10px;
    border: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.icon-facebook, .icon-instagram, .icon-correo, .icon-whatsapp{
    font-size: 30px;
    color: var(--colorFondo);
}

/*fin seccion nosotros*/

/*seccion armadoProyecto*/
/*seleccion de estilos*/

.gridContenedorProyecto{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto auto auto;
    
    /* grid-template-areas: 
        "nav nav nav"
        "h2 h2  h2"
        ". section ."
        "h2 h2  h2"
        ". section ."
        "h2 h2  h2"
        ". section ."
        "h2 h2  h2"
        ". section ."
        "footer footer footer"; */
}
/* .navbar {
    grid-area: nav;
   
}
.tituloEstilos{
    grid-area: h2;
   
}
.seccionEstilos{
    grid-area: section;
 
}
.footerContent{
    grid-area: footer;
   
} */

.navbar, .tituloEstilos, .seleccionEstilos, .seccionEstilos, .titulo, .agendaContent, .final, .footerContent{
    grid-column: 1/4;
}

.seleccionEstilos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--colorRojoToc);
    padding: 30px;
}
.estilos{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 10px;
    
}
.tituloEstilos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    
}
.btnEstilos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border: 0px;
    border-radius: 40px;
    background-color: var(--colorAzulToc);
    font-size: 15px;
    padding: 10px;
    margin-top: 15px;
}
.imgEstilos{
    border-radius: 30px;
    margin-bottom: 20px;
}
.textoEstilos{
    margin-bottom: 20px;
    color: var(--colorFondo);
    text-align: center;
}
button{
    background-color: var(--colorRojoToc);
    border: 0px;
}
/*formulario*/
.seccionEstilos{
    background-color: var(--colorRojoToc);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.formularioEstilo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    color: var(--colorFondo);
    background-color: var(--colorAzulToc);
    margin: 0;
    width: 300px;
    padding: 30px 25px;
}
.inputForm{
    border-radius: 10px;
    padding: 10px;
    outline: none;
    border: 0;
    width: 250px;
    margin: 10px;
}
li{
    list-style: none;
}
ul{
    padding-inline-start: 0px;
}
.btnForm{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorRojoToc);
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    color: var(--colorFondo);
}
.textForm{
    margin-left: 10px;
}
/*reunion*/
.agendaContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--colorRojoToc);
    padding: 30px;
}

#calendario{
    padding: 20px;
    border-radius: 5px;
    border: 0px;
}

.agendaContent img{
    margin-bottom: 20px;
}

/*espere a ser llamado*/
.final{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--colorRojoToc);
    padding: 30px;
    margin-bottom: 54px;
}
/*fin seccion armadoProyecto*/

/*seccion cuentaUsuario*/
.fondoColorUsuario{
    background-color: var(--colorAzulToc);
}
.iconoUsuario{
    margin-top: 90px;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}
.contenedorDeEstados{
    margin: 50px 0px;
}
.cuadroContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.cuadroEstado{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid var(--colorFondo);
    border-radius: 10px;
    color: var(--colorFondo);
    padding: 10px;
    margin: 15px;
}
.cuadroEstado div p{
    font-size: 20px;
    margin-bottom: 15px;
}
.cuadroEstado div h3{
    font-size: 30px;
}
.flechaUsuario{
    display: flex;
    align-items: center;
}
/*fin cuentaUsuario*/

/* seccion ingreso Cuenta*/
.fondoColorCuenta{
    background-color: var(--colorAzulToc);
}
.contenedorCuenta2{
    margin-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 
.logoCuenta{
    margin-bottom: 10px;
}
.inputsCuenta{
    display: flex;
    flex-direction: column;
}
.input1{
    border: 0;
    border-radius: 10px;
    padding: 4px;
    margin: 8px;
    outline: none;
}
.inputsCuenta h5{
    display: flex;
    justify-content: center;
    color: var(--colorFondo);
}
.btnCuenta{    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorRojoToc);
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;    
}
/*fin cuentaUsuario*/

/*cuenta Empresa*/
.contenedorDatos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--colorFondo);
    margin-left: 50px;
    margin-bottom: 29%;
    margin-top: 10%;
}
.contenedorDatos section h2{
    font-size: 100px;
}
.seccionDatos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header h1 {
    color: var(--colorFondo);
    margin-left: 30px;
}

.btnDatos{
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
    margin-top: 50px;
}

@media screen and (max-width: 414px){
    /* seccion nosotros*/
    .navbar ul li{
        padding: 5px;
        margin: auto;
    }
    .imagenToc{
        width: 100%;
    }
    .seccionesInfo{
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .textoIntro{
        margin: 20px;
        padding: 0px;
        font-size: 20px;
    }
    .icon-home, .icon-asesoramiento, .icon-martillo{
        margin-bottom: 0px;
        font-size: 60px;
    }
    .infoContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .info{
        padding: 10px;
    }
    .info h3{
        margin-top: 10px;
        font-size: 20px;
    }
    .info p{
        text-align: center;
        color: rgb(145, 145, 145);
        font-size: 15px;
    }
    .presupuestoContent{
        padding: 5% ;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .textoContenido{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #textoPresup{
        font-size: 30px;
         
    }
    #textoPresup2{
        font-size: 17px;
        text-align: center;
    }
    .btnProyecto{
        width: 150px;
        height: 70px;
        font-size: 18px;
        margin-top: 10px;
    
    }
    .textoRef{
        font-size: 20px;
        align-items: center;
    }
    .gridUsuarioContacto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;       
    }
    .usuarioContent{
        padding: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .usuarioContent div{
        text-align: center;
    }
    .textUsuarioA, .textUsuarioB{
        text-align: center;
        margin: 15px;
        margin-left: 35px;
        padding: 0;        
    }
    .inputUsuarioContent{
        margin-top: 30px;
    }
    .contactoContenedor{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 50px;
    }
    .mapas{
        margin-top: 20px;
    }
    
    /* Fin seccion nosotros*/
    
    /* Seccion Armado de Proyecto*/
   
    .tituloEstilos{
        text-align: center;
    }
    
    .seleccionEstilos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .imgEstilos{
        height: 300px;
        width: 300px;
    }
    .btnEstilos{
        margin-bottom: 30px;
    }
    ul{
        padding-inline-start: 0px;
    }
    /* Fin Armado de Proyecto*/
}
