p::-moz-selection {
  background-color: #f7333f;
  color: whitesmoke;
}

p::selection {
  background-color: #f7333f;
  color: whitesmoke;
}

h4::-moz-selection {
  background-color: #f7333f;
  color: whitesmoke;
}

h4::selection {
  background-color: #f7333f;
  color: whitesmoke;
}

h3::-moz-selection {
  background-color: #f7333f;
  color: whitesmoke;
}

h3::selection {
  background-color: #f7333f;
  color: whitesmoke;
}

h2::-moz-selection {
  background-color: #f7333f;
  color: whitesmoke;
}

h2::selection {
  background-color: #f7333f;
  color: whitesmoke;
}

h1::-moz-selection {
  background-color: #f7333f;
  color: whitesmoke;
}

h1::selection {
  background-color: #f7333f;
  color: whitesmoke;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

.icon-home:before {
  content: "\e900";
}

.icon-asesoramiento:before {
  content: "\e976";
}

.icon-martillo:before {
  content: "\e996";
}

.icon-correo:before {
  content: "\e945";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-whatsapp:before {
  content: "\ea93";
}

.icon-circle-dch:before {
  content: "\ea42";
}

.icon-circle-izq:before {
  content: "\ea44";
}

#fondoToc {
  background-image: url("../img/2326_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.gridIndexContenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 400px 200px 100px;
      grid-template-rows: 400px 200px 100px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.gridIndexContenedor .logoContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
}

.gridIndexContenedor section .btnContenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gridIndexContenedor section .botonBienvenido {
  padding: 10px;
  border: 0px;
  border-radius: 20px;
  font-size: 30px;
  background-color: #f7333f;
}

.gridIndexContenedor .redesContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gridIndexContenedor .redesContent .texto1 {
  color: white;
  font-size: 20px;
}

.gridIndexContenedor .redesContent .logosRedes {
  height: 50px;
  margin: 0px 20px;
}

#fondoNosotros {
  background-color: whitesmoke;
}

.imagenToc {
  width: 100%;
}

@media screen and (max-width: 1050px) {
  .imagenToc {
    width: 100%;
  }
}

/*Informacion*/
.seccionesInfo {
  padding: 20px;
}

@media screen and (max-width: 1050px) {
  .seccionesInfo {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.seccionesInfo .textoIntro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #919191;
  padding: 40px;
  font-size: 30px;
}

@media screen and (max-width: 1050px) {
  .seccionesInfo .textoIntro {
    margin: 20px;
    padding: 0px;
    font-size: 20px;
  }
}

.seccionesInfo .infoContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 10px;
}

@media screen and (max-width: 1050px) {
  .seccionesInfo .infoContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.seccionesInfo .infoContent .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding: 60px;
}

@media screen and (max-width: 1050px) {
  .seccionesInfo .infoContent .info {
    padding: 10px;
  }
}

.seccionesInfo .infoContent .info h3 {
  margin-top: 40px;
}

@media screen and (max-width: 1050px) {
  .seccionesInfo .infoContent .info h3 {
    margin-top: 10px;
    font-size: 20px;
  }
}

.seccionesInfo .infoContent .info p {
  text-align: center;
  color: #919191;
}

@media screen and (max-width: 1050px) {
  .seccionesInfo .infoContent .info p {
    text-align: center;
    color: #919191;
    font-size: 15px;
  }
}

.seccionesInfo .infoContent .info .icon-home {
  font-size: 80px;
  color: #919191;
}

@media screen and (max-width: 1050px) {
  .seccionesInfo .infoContent .info .icon-home {
    margin-bottom: 0px;
    font-size: 60px;
  }
}

.seccionesInfo .infoContent .info .icon-asesoramiento {
  font-size: 80px;
  color: #919191;
}

@media screen and (max-width: 1050px) {
  .seccionesInfo .infoContent .info .icon-asesoramiento {
    margin-bottom: 0px;
    font-size: 60px;
  }
}

.seccionesInfo .infoContent .info .icon-martillo {
  font-size: 80px;
  color: #919191;
}

@media screen and (max-width: 1050px) {
  .seccionesInfo .infoContent .info .icon-martillo {
    margin-bottom: 0px;
    font-size: 60px;
  }
}

.seccionesInfo .infoContent .info .icon-home:hover {
  color: #f7333f;
  -webkit-transition: 1s;
  transition: 1s;
}

.seccionesInfo .infoContent .info .icon-asesoramiento:hover {
  color: #f7333f;
  -webkit-transition: 1s;
  transition: 1s;
}

.seccionesInfo .infoContent .info .icon-martillo:hover {
  color: #f7333f;
  -webkit-transition: 1s;
  transition: 1s;
}

/*Presupuesto*/
.presupuestoContent {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1050px) {
  .presupuestoContent {
    padding: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1050px) {
  .presupuestoContent .textoContenido {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.presupuestoContent .textoContenido #textoPresup {
  font-size: 40px;
}

@media screen and (max-width: 1050px) {
  .presupuestoContent .textoContenido #textoPresup {
    font-size: 30px;
  }
}

.presupuestoContent .textoContenido #textoPresup2 {
  font-size: 25px;
}

@media screen and (max-width: 1050px) {
  .presupuestoContent .textoContenido #textoPresup2 {
    font-size: 17px;
    text-align: center;
  }
}

.presupuestoContent div .btnProyecto {
  width: 400px;
  height: 80px;
  border: 0px;
  border-radius: 40px;
  font-size: 30px;
  background-color: #f7333f;
  color: var(--colorFondo);
}

@media screen and (max-width: 1050px) {
  .presupuestoContent div .btnProyecto {
    width: 150px;
    height: 70px;
    font-size: 18px;
    margin-top: 10px;
  }
}

.presupuestoContent div .btnProyecto:hover {
  background-color: #ba2932;
}

.presupuestoContent div .btnProyecto:active {
  color: #f7333f;
  background-color: whitesmoke;
  border: 2px solid #f7333f;
}

.presupuestoContent div .btnProyecto #textoBtn:hover {
  color: whitesmoke;
}

/*Referencias*/
.referenciasContent {
  padding: 5% 15%;
  background-color: #31475e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.referenciasContent .referencias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.referenciasContent .referencias .textoRef {
  font-size: 30px;
  color: white;
}

@media screen and (max-width: 1050px) {
  .referenciasContent .referencias .textoRef {
    font-size: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*Usuario*/
.usuarioContent {
  padding: 5% 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1050px) {
  .usuarioContent {
    padding: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
  }
}

.usuarioContent .textUsuarioA {
  width: 70%;
  font-size: 30px;
  margin-bottom: 2%;
}

@media screen and (max-width: 1050px) {
  .usuarioContent .textUsuarioA {
    text-align: center;
    margin: 15px;
    margin-left: 50px;
    padding: 0;
  }
}

.usuarioContent .textUsuarioB {
  width: 70%;
  font-size: 20px;
}

@media screen and (max-width: 1050px) {
  .usuarioContent .textUsuarioB {
    text-align: center;
    margin: 15px;
    margin-left: 50px;
    padding: 0;
  }
}

.usuarioContent .inputUsuarioContent {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1050px) {
  .usuarioContent .inputUsuarioContent {
    margin-top: 30px;
    margin-bottom: 0px;
  }
}

.usuarioContent .inputUsuarioContent .inputUsuario {
  margin: 7px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  padding: 10px;
}

.usuarioContent .inputUsuarioContent .btnIngresar {
  color: #f7333f;
}

.gridUsuarioContacto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  /*Contactos*/
}

@media screen and (max-width: 1050px) {
  .gridUsuarioContacto {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
}

.gridUsuarioContacto .usuarioContent {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  margin-bottom: 80px;
}

.gridUsuarioContacto .inputUsuarioContent {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  margin-bottom: 80px;
}

.gridUsuarioContacto .contactoContenedor {
  padding: 3%;
  margin-bottom: 20px;
  background-color: #3c3c3c;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1050px) {
  .gridUsuarioContacto .contactoContenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px;
  }
}

.gridUsuarioContacto .contactoContenedor .tituloContacto {
  margin-bottom: 3%;
}

.gridUsuarioContacto .contactoContenedor .textoContacto {
  font-size: 15px;
}

.gridUsuarioContacto .contactoContenedor .mapa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

@media screen and (max-width: 1050px) {
  .gridUsuarioContacto .contactoContenedor .mapa {
    margin-top: 20px;
  }
}

/*footer*/
.footerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #121212;
  padding: 10px;
  border: 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footerContent .icon-facebook {
  font-size: 30px;
  color: whitesmoke;
}

.footerContent .icon-instagram {
  font-size: 30px;
  color: whitesmoke;
}

.footerContent .icon-correo {
  font-size: 30px;
  color: whitesmoke;
}

.footerContent .icon-whatsapp {
  font-size: 30px;
  color: whitesmoke;
}

.gridContenedorProyecto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
}

.gridContenedorProyecto .navbar {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.gridContenedorProyecto .tituloEstilos {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.gridContenedorProyecto .seleccionEstilos {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.gridContenedorProyecto .seccionEstilos {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.gridContenedorProyecto .titulo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.gridContenedorProyecto .agendaContent {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.gridContenedorProyecto .final {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.gridContenedorProyecto .footerContent {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.tituloEstilos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

@media screen and (max-width: 1050px) {
  .tituloEstilos {
    text-align: center;
  }
}

.seleccionEstilos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  background-color: #f7333f;
  padding: 30px;
}

@media screen and (max-width: 1050px) {
  .seleccionEstilos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.seleccionEstilos .estilos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.seleccionEstilos .btnEstilos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 30px;
  border: 0px;
  border-radius: 40px;
  background-color: #31475e;
  font-size: 15px;
  padding: 10px;
  margin-top: 15px;
}

@media screen and (max-width: 1050px) {
  .seleccionEstilos .btnEstilos {
    margin-bottom: 30px;
  }
}

.seleccionEstilos .imgEstilos {
  border-radius: 30px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1050px) {
  .seleccionEstilos .imgEstilos {
    height: 300px;
    width: 300px;
  }
}

.seleccionEstilos .textoEstilos {
  margin-bottom: 20px;
  color: whitesmoke;
  text-align: center;
}

button {
  background-color: #f7333f;
  border: 0px;
}

.titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

.seccionEstilos {
  background-color: #f7333f;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.seccionEstilos .formularioEstilo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  color: whitesmoke;
  background-color: #31475e;
  margin: 0;
  width: 300px;
  padding: 30px 25px;
}

.seccionEstilos .formularioEstilo .inputForm {
  border-radius: 10px;
  padding: 10px;
  outline: none;
  border: 0;
  width: 250px;
  margin: 10px;
}

.seccionEstilos .formularioEstilo li {
  list-style: none;
}

.seccionEstilos .formularioEstilo ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

@media screen and (max-width: 1050px) {
  .seccionEstilos .formularioEstilo ul {
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
  }
}

.seccionEstilos .formularioEstilo .btnForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7333f;
  font-size: 15px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  color: whitesmoke;
}

.seccionEstilos .formularioEstilo .textForm {
  margin-left: 10px;
}

/*reunion*/
.agendaContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f7333f;
  padding: 30px;
}

.agendaContent #calendario {
  padding: 20px;
  border-radius: 5px;
  border: 0px;
}

.agendaContent .btnEstilos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 30px;
  border: 0px;
  border-radius: 40px;
  background-color: #31475e;
  font-size: 15px;
  padding: 10px;
  margin-top: 15px;
}

/*espere a ser llamado*/
.final {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f7333f;
  padding: 30px;
  margin-bottom: 54px;
}

.final .btnEstilos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 30px;
  border: 0px;
  border-radius: 40px;
  background-color: #31475e;
  font-size: 15px;
  padding: 10px;
  margin-top: 15px;
}

.fondoColorUsuario {
  background-color: #31475e;
}
