p::selection {
  background-color: #f7333f;
  color: whitesmoke;
}

h4::selection {
  background-color: #f7333f;
  color: whitesmoke;
}

h3::selection {
  background-color: #f7333f;
  color: whitesmoke;
}

h2::selection {
  background-color: #f7333f;
  color: whitesmoke;
}

h1::selection {
  background-color: #f7333f;
  color: whitesmoke;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

.icon-home:before {
  content: "\e900";
}

.icon-asesoramiento:before {
  content: "\e976";
}

.icon-martillo:before {
  content: "\e996";
}

.icon-correo:before {
  content: "\e945";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-whatsapp:before {
  content: "\ea93";
}

.icon-circle-dch:before {
  content: "\ea42";
}

.icon-circle-izq:before {
  content: "\ea44";
}

#fondoToc {
  background-image: url("../img/2326_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.gridIndexContenedor {
  display: grid;
  grid-template-rows: 400px 200px 300px;
  grid-template-columns: 1fr;
}

.logoContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

section .btnContenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}
section .botonBienvenido {
  padding: 10px;
  border: 0px;
  border-radius: 20px;
  font-size: 30px;
  background-color: #f7333f;
}

.redesContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.redesContent .texto1 {
  color: white;
  font-size: 20px;
}

.logosRedes {
  height: 50px;
  margin: 20px;
}

.gridUsuarioContacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-column: 1/4;
}

.usuarioContent {
  grid-column: 1/2;
  margin-bottom: 80px;
}

.inputUsuarioContent {
  grid-column: 2/4;
  margin-bottom: 80px;
}

#fondoNosotros {
  background-color: whitesmoke;
}

.imagenToc {
  width: 100%;
}

/*Informacion*/
.seccionesInfo {
  padding: 20px;
}

.textoIntro {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #919191;
  padding: 40px;
  font-size: 30px;
}

.infoContent {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

.infoContent div h3 {
  margin-bottom: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 60px;
}

.info h3 {
  margin-top: 40px;
}

.info p {
  text-align: center;
  color: #919191;
}

.icon-home, .icon-asesoramiento, .icon-martillo {
  font-size: 80px;
  color: #919191;
}

.icon-home:hover {
  color: #f7333f;
  transition: 1s;
}

.icon-asesoramiento:hover {
  color: #f7333f;
  transition: 1s;
}

.icon-martillo:hover {
  color: #f7333f;
  transition: 1s;
}

/*Presupuesto*/
.presupuestoContent {
  padding: 5%;
  display: flex;
  justify-content: space-around;
}

#textoPresup {
  font-size: 40px;
}

#textoPresup2 {
  font-size: 25px;
}

.btnProyecto {
  width: 400px;
  height: 80px;
  border: 0px;
  border-radius: 40px;
  font-size: 30px;
  background-color: #f7333f;
  color: var(--colorFondo);
}

.btnProyecto:hover {
  background-color: #ba2932;
}

.btnProyecto:active {
  color: #f7333f;
  background-color: whitesmoke;
  border: 2px solid #f7333f;
}

#textoBtn:hover {
  color: whitesmoke;
}

/*Referencias*/
.referenciasContent {
  padding: 5% 15%;
  background-color: #31475e;
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.referencias {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.referencias img {
  margin: 0 10px;
}

.textoRef {
  font-size: 30px;
  color: white;
}

/*Usuario*/
.usuarioContent {
  padding: 5% 15%;
  display: flex;
  justify-content: space-between;
}

.inputUsuarioContent {
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inputUsuario {
  margin: 7px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  padding: 10px;
}

.textUsuarioA {
  width: 70%;
  font-size: 30px;
  margin-bottom: 2%;
}

.textUsuarioB {
  width: 70%;
  font-size: 20px;
}

.btnIngresar {
  color: #f7333f;
}

/*Contactos*/
.contactoContenedor {
  padding: 3%;
  margin-bottom: 20px;
  background-color: #3c3c3c;
  color: white;
  display: flex;
  justify-content: space-around;
}

.tituloContacto {
  margin-bottom: 3%;
}

.textoContacto {
  font-size: 15px;
}

.mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

header {
  background-color: #3c3c3c;
}

/*footer*/
.footerContent {
  display: flex;
  justify-content: space-around;
  background-color: #31475e;
  padding: 10px;
  border: 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footerContent .icon-facebook {
  font-size: 30px;
  color: whitesmoke;
}
.footerContent .icon-instagram {
  font-size: 30px;
  color: whitesmoke;
}
.footerContent .icon-correo {
  font-size: 30px;
  color: whitesmoke;
}
.footerContent .icon-whatsapp {
  font-size: 30px;
  color: whitesmoke;
}

/*# sourceMappingURL=style.css.map */
